# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env
.env
.env.local
client/.env
server/.env

# build output
client/dist/
server/dist/

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
